body{
    margin: 0px;
}
                                                                                                      /* .top-header */
.top_header{
    width: 100% ;
    height: 58px ;
    background-color: #ec5e2a ;
    display: flex ;
    align-items:center  ;
    justify-content: center ;
    box-sizing: border-box;
}



.top_header_cont{
    width: 78%  ;
    height: 38px ;
    display: flex  ;
    align-items: center  ;
    justify-content: space-between  ;
    
}



.left_cont{
    display: flex ;
    align-items: center  ;
    justify-content:center  ;
    column-gap: 12px  ;
}

.left_cont strong{
    font-size: 12px ;
    color: white ;
    transform: scale(1) ;
    transition: 0.4s ;
    cursor: pointer ;
    
}

.left_cont:hover{
    transform: scale(1.03) ;

}


.right_cont{
    display: flex  ;
    align-items: center  ;
    justify-content: center ;
    column-gap: 30px ;
    
    
}



.nav_cont ul{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    column-gap: 25px ;
    list-style-type: none ;
    color: white ;
    font-size: 12px ;
    font-family: sans-serif ;
    font-style: italic ;
    font-weight: bolder ;
    
}

.nav_cont ul li{
    opacity: calc(0.7) ;
    cursor: pointer ;
    transform: scale(1) ;
    transition: 0.4s ;
    letter-spacing: 1px;

}
.nav_cont ul li:hover{
    opacity: calc(1) ;
    transform: scale(1.03) ;
}

.flag_cont{
    border: 1px solid white ;
    border-radius: 12px ;
    height: 40px ;
    width: 45px ;    
    display: flex ;
    align-items: center ;
    justify-content: center ; 
    background-color: white ;
    cursor: pointer  ;
} 
                                                                                                     
                                                                                             /* top_header_1020px */

.top_header_1020px{
    width: 100%;
    height: 50px;
    display: none;
    justify-content: center;
    background-color: rgba(237, 235, 235, 0.74);
;
    
}
.topheader1020px_cont{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_header_1020px_leftbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top_header_1020px_leftbox i , img{
    cursor:pointer
}

.top_header_1020px_rightbox{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
      font-size: 21px;
}
 

                                                                                            /* .top-header2             */


.top_header2{   
    width: 100%;
    height: 70px;
    background-color: rgba(237, 235, 235, 0.74);
    display: flex;
    align-items:center ;
    justify-content: center;   
    /* position: fixed; */
    /* top: 44px; */
    /* right: 0px; */
                                    /* მინდა სტიკის გაკეთება რომ ჰედერი სქროლვისას გამოყვეს */
}
 


.top_header_cont2{
        width: 78%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.left_cont2{
    cursor: pointer;
}

.right_cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

 .right_cont2_nav {
    background-color: #ec5e2a;
    padding:5px  ;
    display: flex ;
    align-items: center ;
    justify-content: center;
    width: 16% ;
    height: 30px ;
    color: white;
    column-gap: 10px ;
    font-weight: bolder;
    border-radius:12px;
    cursor: pointer;
  
}


.search{
    width: 470px;
    height: 40px;
    border: 1px solid #ec5e2a ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 8px;
    cursor: pointer;

}

.search input{
    width: 88%;
    border: none;
    background-color: transparent;
    outline: none;
}

.search input::placeholder{
    letter-spacing: 3px;
}
.cart{
        width: 18%;
    height: 44px;
    border: 1px solid transparent ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 600;
    letter-spacing: 1px;
    column-gap: 8px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;

}

.login{
        width: 18%;
    height: 44px;
    border: 1px solid transparent  ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.4s;
}

.login i{
    font-size: 20px;
}

.cart:hover{
    opacity: 1;
}

.cart_drop{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height:0px;
    top: 115px;
    border: 1px solid black;
    background-color: white;
    /* display: flex; */
   
    position: absolute;
    overflow-y: hidden;
    /* justify-content: space-between; */
    
}
.cart:hover .cart_drop{
width: 350px;
height: 330px;
position: absolute;
top: 115px;
margin: 0px;
padding: 0px;
background-color: white;
border: 1px solid transparent;
border-radius: 12px;
z-index: 5;
}
.cart_dropdown_1line{
 display: flex;
justify-content: space-between;
align-items: center;
 width: 90%;
 height: 28px;
 padding: 10px; 
}
.cart_dropdown_1line .leftbox_1line{
    font-family: sans-serif;
    font-style: italic;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    opacity: 0.9;

}

.cart_dropdown_1line .rightbox_1line{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    opacity: 0.7;
}
.empty_bag{
    width: 100%;
    height: auto;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.empty_bag img{
    width: 180px;
}
.dropcart_price{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 15px; */
}
.dropcart_price p{
    padding-right: 12px;
    font-size: 12px;
}
.dropcart_price p span{
    font-size: 18px;
    font-weight: 900;
}

.open_cart{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_cart_button{
    background-color: #e56e00;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 13px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: white;
    /* cursor: pointer; */
}

.open_cart 
.login:hover{
    opacity: 1;
}


.conteiner_proc{
    width: 48px;
    height: 44px;
    border: 2px solid transparent ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec5e2a;
    color: white;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;

}
.conteiner_proc a{
    text-decoration: none;
    color: inherit;
}

                                                                           /* top_header2_1020px */
 .top_header2_1020px{
    height: 80px;
    width: 100%;
    display: none;
    background-color:white ;
    justify-content: center;
    /* border: 1px solid black; */
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
 }
 .topheader1020px_2_cont{
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
 }

 .i_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 100 !important;
    opacity: 0.7;
    cursor: pointer;
 }
 .i_box:hover{
    background-color: lightblue;
 }
 .i_box_3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 100 !important;
    /* opacity: 0.7; */
    cursor: pointer;
    background-color: rgb(236, 94, 42);
    color: white;
    scale: calc(1.5);

 }

 .topheader1020px_2_cont .BOX1{
    width: 190.88px;
    height: 68.4px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    font-size: 13px
 }
  .topheader1020px_2_cont .BOX2 {
    width: 190.88px;
    height: 68.4px;
    /* border: 1px solid red; */
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    font-size: 13px
 }
   .topheader1020px_2_cont .BOX3 {
    width: 190.88px;
    height: 68.4px;
    /* border: 1px solid red; */
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    font-size: 13px
 }
   .topheader1020px_2_cont .BOX4 {
    width: 190.88px;
    height: 68.4px;
    /* border: 1px solid red; */
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    font-size: 13px
 }
   .topheader1020px_2_cont .BOX5 {
    width: 190.88px;
    height: 68.4px;
    /* border: 1px solid red; */
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    font-size: 13px
 }





                                                                       /* .main_page */


.main_page1{
    width: 100%;
        margin: 0px;
    padding: 0px;
}
.main_page{
    margin: 0px;
    padding: 0px;
        display: flex;
    align-items: center;
    justify-content: center;
}


    

.main_page_cont{

    width: 78%;
    height: auto;
    margin-bottom: 50px;
    display: flex; 
    /* flex-wrap: wrap; */
    /* background-color: red; */
}



                                                                               /* .first_card */
                                                                               /* .first_card */

.first_card{
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.fc_left_box{
 width: 20%;
 height: 100%;
 border: 3px solid blackrgba(237, 235, 235, 0.74);
 border-radius: 12px;
}

.fc_left_box ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
}


.fc_left_box ul li{
    border: 2px solid rgba(237, 235, 235, 0.74);
    border-radius: 12px;
    cursor: pointer; 
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.6;
    font-weight: 600;
    column-gap: 12px;
    
}



.fc_left_box ul li:hover{
    background-color: rgba(237, 235, 235, 0.74);
    opacity: 0.8;
}



.fc_right_box{
    display: flex;
    align-items: center;
    justify-content: center;
   width:76% ;
   height: 90%; 
   /* border: 1px solid black; */
   border-radius: 15px;
   cursor: pointer;
}


.fc_right_box img{
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
    
}


.first_h1 , .second_h1 {
    font-style: initial;
    font-size: 16px;
    
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-weight: 950;
    letter-spacing: 1px;
}

.card1{
    width: 100%;
    height: 330px;
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-between;
    overflow-x: auto;
}

.card1_boxs{
    width: 195px;
    height:auto;
    /* margin: 0px 40px 0px 40px; */
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
    justify-content: space-between;
    gap: 10px;
    
}
.card1_boxs img{
    cursor: pointer;
}
.price_box{
    display: flex;
    width: 100%;
    column-gap: 30px;
    box-sizing: border-box;
   
}

.sale_price{
    font-size: 20px;
    color: #ec5e2a; 
    font-weight: 900;
}

.old_price{
 text-decoration: line-through;   
 opacity: calc(0.7);
}


.ganvadeba{
    font-weight: 600;
    font-size: 10px;
    
}

.ganvadeba_price{
    color: #ec5e2a;
}

.about{
    font-size: 13px;
    cursor: pointer;
    opacity: 0.7;
}


.cart_box{

    display: flex;
    column-gap: 20px;
    
}

.arrow_box{
    display: flex;
    align-items: center;
    justify-content: center;
 width: 30px;
 height: 30px;
 border: 1px solid transparent;
 border-radius: 4px;
 opacity: 0.6;
 font-size: 14px;
 background-color: #f2f2f2;
}

.main_cart_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    /* border: 1px solid black ; */
    border-radius: 4px;
    background-color: #ec5e2a;
    opacity: 0.7;
    color: black;
    width: 110px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 900;
    

}
                                                                           /* .baner1 */
.baner1{
    margin-top: 60px;
    margin-bottom: 60px;
   width: 100%;
   height: 303px; 
   /* border: 1px solid black; */
   border-radius: 12px;
}
.baner1 img{
    border-radius: 13px;
    cursor: pointer;
}

                                                                               /* Fifth_h1 */


    .brand_main_box{
        display: flex;
        width: 100%;
        height: 100px;
        /* border: 1px solid black; */
        overflow-x: auto;

    } 
    
    .brands_boxs{
        width: 195px;
        height: 100%;
        /* border: 1px solid red; */
        /* overflow-x: auto; */
      
    }

    .brands_boxs img{
        border-radius: 12px;
        background-color: #edf1f5a1;
        cursor: pointer;
    }





                                                                                  /* fixed_boxs */

    .fixed-boxs{
     display: flex;
     flex-direction: column;
     gap: 35px;
     position: fixed;
     right: 25px;
     bottom: 30px;
     z-index: 999;
    }



    .fixed_box1{
        width: 60px;
        height: 60px;
        /* border: 1px solid black; */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 100;
        color: white;
        background-color: rgba(0, 87, 159, 0.5);
        cursor: pointer;
        transform: scale(1);
        transition: 0.2s;
    }


    .fixed_box2{
        width: 60px;
        height: 60px;
        border: 1px solid rgb(216, 213, 213);
        border-radius: 50%;
        cursor: pointer;
        
    }

   .fixed_box1:hover{
     transform: scale(1.2);
     transition: 0.2s;
   }


    .fixed_box2 img{
     width: 60px;
     height: 60px; 
     border-radius: 50%;  
    }

                                                                   /* ChatGPT-ი დავიხმარე */
    html {
  overflow-y: scroll;
}  

::-webkit-scrollbar {
  width: 6px;          /* სიგანე */
}

/* Scrollbar-ის ფონი */
::-webkit-scrollbar-track {
  background: #f2f2f2; /* ღია ფერი, როგორც ზუმერს */
  border-radius: 10px;
}

/* Scrollbar-ის მოძრავი ნაწილი (thumb) */
::-webkit-scrollbar-thumb {
  background: #ff7a00;  /* Zoommer-ის ნარინჯისფერი */
  border-radius: 10px;
}

/* Hover-ზე thumb უფრო მუქდება */
::-webkit-scrollbar-thumb:hover {
  background: #e56e00;
}





footer{
    width: 100%;
    height: 390px;
    background-color: #ecf2fa;
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: center;
}

.footer_conteiner{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 78% ;
    height: 390px;
    display: flex;
flex-wrap: nowrap;    
    justify-content: space-between; 
    
    
    
}

.footer_conteiner ul h3{
    display: flex;
    padding: 20px;
    margin-left: 0px;
    font-size: 12px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e56e00 ;
    font-family: sans-serif;
    font-style: italic;
    /* width: 59px; */

}
.footer_conteiner ul li{
    margin-left:  0px; 
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 23px 0px 23px 0px;
    cursor: pointer;
    font-weight: 700;
    opacity: 0.8;
    font-family: sans-serif;
    font-style:italic ;
    
}






@media screen and (max-width:1020px) {
  .top_header{
    display: none;
  }  
  .top_header2{
    display: none;
  }
  .top_header_1020px{
    display: flex;
    position: fixed;
  }
     .top_header2_1020px{
    height: 80px;
    width: 100%;
    display: flex;
    background-color:white ;
    justify-content: center;
    /* border: 1px solid black; */
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0px;
    left: 0px;
 }

 footer{
    flex-wrap: wrap;
    /* text-align: center; */
 }
 .footer_conteiner{
    flex-wrap: wrap;
 }
 .card1_boxs{
    
     margin: 0px 20px 0px 20px; 

   /* width: 200px; */
   box-sizing: content-box;
   box-sizing: border-box;
   
    
} 
    .brands_boxs{
        width: 195px;
        height: 100%;
        margin: 0px 20px 0px 20px;
      
    }
    .fixed_box1{
        display: none;
    }
    .fixed-boxs{
        bottom: 70px;
    }
    .baner1{
        height: auto;
    }
}

@media screen and (max-width:440px) {
   
    .main_page_cont{
        width: 100%;
    }

    .fc_right_box img{
        width: 65% !important;
    }

    .fc_right_box a{
        display: flex;
        align-items: center;
        justify-content: center;
    
}
.fc_left_box ul li{
    padding: 5px;
}
.fc_left_box{
    height: auto;
}
.first_card{
    height: auto;
    margin-top: 50px;
}
.first_h1{
    margin: 40px 0px 40px 0px ;
}
.second_h1{
    margin: 40px 0px 40px 10px ;
}
    
}

