body{
    margin: 0px;
}
                                                                                                      /* .top-header */
.top_header{
    width: 100% ;
    height: 58px ;
    background-color: #ec5e2a ;
    display: flex ;
    align-items:center  ;
    justify-content: center ;
    box-sizing: border-box;
}



.top_header_cont{
    width: 78%  ;
    height: 38px ;
    display: flex  ;
    align-items: center  ;
    justify-content: space-between  ;
    
}



.left_cont{
    display: flex ;
    align-items: center  ;
    justify-content:center  ;
    column-gap: 12px  ;
}

.left_cont strong{
    font-size: 12px ;
    color: white ;
    transform: scale(1) ;
    transition: 0.4s ;
    cursor: pointer ;
    
}

.left_cont:hover{
    transform: scale(1.03) ;

}


.right_cont{
    display: flex  ;
    align-items: center  ;
    justify-content: center ;
    column-gap: 30px ;
    
    
}



.nav_cont ul{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    column-gap: 25px ;
    list-style-type: none ;
    color: white ;
    font-size: 12px ;
    font-family: sans-serif ;
    font-style: italic ;
    font-weight: bolder ;
    
}

.nav_cont ul li{
    opacity: calc(0.7) ;
    cursor: pointer ;
    transform: scale(1) ;
    transition: 0.4s ;
    letter-spacing: 1px;

}
.nav_cont ul li:hover{
    opacity: calc(1) ;
    transform: scale(1.03) ;
}

.flag_cont{
    border: 1px solid white ;
    border-radius: 12px ;
    height: 40px ;
    width: 45px ;    
    display: flex ;
    align-items: center ;
    justify-content: center ; 
    background-color: white ;
    cursor: pointer  ;
} 
                                                                                                     


                                                                                            /* .top-header2             */


.top_header2{   
    width: 100%;
    height: 70px;
    background-color: rgba(237, 235, 235, 0.74);
    display: flex;
    align-items:center ;
    justify-content: center;   
    /* position: fixed; */
    /* top: 44px; */
    /* right: 0px; */
                                    /* მინდა სტიკის გაკეთება რომ ჰედერი სქროლვისას გამოყვეს */
}
 


.top_header_cont2{
        width: 78%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.left_cont2{
    cursor: pointer;
}

.right_cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

 .right_cont2_nav {
    background-color: #ec5e2a;
    padding:5px  ;
    display: flex ;
    align-items: center ;
    justify-content: center;
    width: 16% ;
    height: 30px ;
    color: white;
    column-gap: 10px ;
    font-weight: bolder;
    border-radius:12px;
    cursor: pointer;
  
}


.search{
    width: 470px;
    height: 40px;
    border: 1px solid #ec5e2a ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 8px;
    cursor: pointer;

}

.search input{
    width: 88%;
    border: none;
    background-color: transparent;
    outline: none;
}

.search input::placeholder{
    letter-spacing: 3px;
}
.cart{
        width: 18%;
    height: 44px;
    border: 1px solid transparent ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 600;
    letter-spacing: 1px;
    column-gap: 8px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;

}

.login{
        width: 18%;
    height: 44px;
    border: 1px solid transparent  ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.4s;
}

.login i{
    font-size: 20px;
}

.cart:hover{
    opacity: 1;
}

.cart_drop{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height:0px;
    top: 115px;
    border: 1px solid black;
    background-color: white;
    /* display: flex; */
   
    position: absolute;
    overflow-y: hidden;
    /* justify-content: space-between; */
    
}
.cart:hover .cart_drop{
width: 350px;
height: 330px;
position: absolute;
top: 115px;
margin: 0px;
padding: 0px;
background-color: white;
border: 1px solid transparent;
border-radius: 12px;
z-index: 5;
}
.cart_dropdown_1line{
 display: flex;
justify-content: space-between;
align-items: center;
 width: 90%;
 height: 28px;
 padding: 10px; 
}
.cart_dropdown_1line .leftbox_1line{
    font-family: sans-serif;
    font-style: italic;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    opacity: 0.9;

}

.cart_dropdown_1line .rightbox_1line{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    opacity: 0.7;
}
.empty_bag{
    width: 100%;
    height: auto;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.empty_bag img{
    width: 180px;
}
.dropcart_price{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 15px; */
}
.dropcart_price p{
    padding-right: 12px;
    font-size: 12px;
}
.dropcart_price p span{
    font-size: 18px;
    font-weight: 900;
}

.open_cart{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_cart_button{
    background-color: #e56e00;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 13px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: white;
    /* cursor: pointer; */
}

.open_cart 
.login:hover{
    opacity: 1;
}


.conteiner_proc{
    width: 48px;
    height: 44px;
    border: 2px solid transparent ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec5e2a;
    color: white;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;

}

.conteiner_proc a{
    text-decoration: none;
    color: inherit;
}
                                                                         /* mainpage */



.main_page{
    /* margin-top: 30px; */
    width: 100%;
    height: 1280px;
    display: flex;
    justify-content: center;

}


.mainpage_mconteiner{
    width: 78%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 20px 0px 20px 0px;
    
}

.banner{
    width: 100%;
    height: 208px;
    /* border: 1px solid black; */
    margin: 100px 0px 100px 0px;
    box-sizing: border-box;

}
.banner h2{
   font-size: 14px; 
   display: block;
   font-weight: bold;
   height: 17px;
   line-height: 17px;
   letter-spacing: 1px;
   margin-bottom: 30px;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner img{
    
    border-radius: 12px;
    cursor: pointer;
}

.first_banner h2{
    margin-top: 0px !important;

}













footer{
    width: 100%;
    height: 370px;
    background-color: #ecf2fa;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.footer_conteiner{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 78% ;
  
    display: flex;
    justify-content: space-between; 
    
    
    
}

.footer_conteiner ul h3{
    display: flex;
    padding: 20px;
    margin-left: 0px;
    font-size: 12px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e56e00 ;
    font-family: sans-serif;
    font-style: italic;
    /* width: 59px; */

}
.footer_conteiner ul li{
    margin-left:  0px; 
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
    font-weight: 500;
    font-family: sans-serif;
    font-style:italic ;
    
}